.container-b1{
height: 10Vh;
display: flex;
visibility:hidden;
}
li{
    visibility: hidden;
}
.icons{
    font-size: x-small;
    padding: 1 5px;
    list-style: none;
    justify-content: space-evenly;
}

#container-b2{
    grid-row: 2 / 2;
    margin: 1vh 1vh
}

#container-b3{
    grid-row: 2 / 2;
    
    margin: 1vh 1vh
}
#container-b4{
    grid-row: 2 / 2;
    
    margin: 1vh 1vh
}
#container-b5{
    grid-row: 2 / 2;
    
    margin: 1vh 1vh
}

#container-b6{
    grid-row: 2 / 2;
    
    margin: 1vh 1vh
}
.lupa{
    display: flex;
    justify-content: flex-end;
    color: white;
}

#container-b7{
    background-size: cover;
    margin: 1vh 1vh  
}
#container-b8{
    background-size: cover;
    margin: 1vh 1vh  
}
#container-b9{
    background-size: cover;
    margin: 1vh 1vh  
}
#container-b10{
    background-size: cover;
    margin: 1vh 1vh  
}
#container-b11{
    background-size: cover;
    margin: 1vh 1vh  
}

